#logo {
  align-items: center;
}


/* Banner */

.box{
color: rgba(48, 138, 255, 0.5);
}

/* Login-Box */
.button.is-sparta {
background-color: rgb(48,138,255);
border-color: transparent;
color: #fff !important;
}

.button.is-sparta.is-outlined {
background-color: transparent;
border-color: rgb(48,138,255);
color: rgb(48,138,255) !important;
}

.help {
color: rgba(48, 138, 255, 0.5);
}

a {
  text-decoration: none;
}

a:link {
  color : rgba(48, 138, 255, 0.5);
}
a:visited {
  color : black;
}
a:hover {
  color : rgb(48,138,255);
  text-emphasis: 500;
}
a:active {
  color : black;
}