
/* zone.html 관련 css입니다. */

.header {
    height: 60px;
    background-color: aqua;
}

.zone {
    margin: auto;
    width: 900px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.zone-select {
    background-color: gold;
    width: fit-content;
    margin: auto;
    padding: 100px;
}

.zone-result {
    margin: auto;
    width: 900px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.card {
    background-color: aqua;
    border: 1px solid black;
    border-radius: 10;
    display: inline-block;
    width: 400px;
    
}
/* .detail-img > img {
    width: auto;
    border-radius: 30;
} */

.img {
    float: left;
    padding-right: 30px;
    width: 200px;
}

.img-src {
    background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnDGi73B2HUUVLZMhSYQ2wOUOtaGKtswmFDvoYTMJrVtzZ4heo&s";
    background-size: cover;
    background-position: center;
}

.info {
    float: left;
    margin: 24px 16px 24px 24px;
}

#go_home {

}


/* detail.html 관련 css입니다. */

.detail-result {
    margin: auto;
    width: 900px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.detail {
    /* background-color: aqua; */
    /* border: 1px solid black; */
    border-radius: 10;
    display: inline-block;
    width: 900px;
    margin-top: 30px;
}

.detail-img-src {
    float: left;
    width: 50%;
    background-color: blueviolet;
}

.detail-info {
    float: left;
    width: 50%;
    padding: 24px 16px 24px 24px;
}

.text-box {
    display: block;
    position: relative;
    margin-top: 16px;
    padding: 26px 24px;
    background: rgb(250,250,250);
}


/* .img-src {
    background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnDGi73B2HUUVLZMhSYQ2wOUOtaGKtswmFDvoYTMJrVtzZ4heo&s";
    background-size: cover;
    background-position: center;
} */

