<!DOCTYPE html>
<html>

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        
    <link rel="stylesheet" href="../static/about.css" type="text/css">
    <link rel="stylesheet" href="../static/header.css" type="text/css">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <script>
    function confirmLogout() { if( confirm("정말 로그아웃 하시겠습니까?") ) { location.href = "/"; } }
    </script>
    
    <title>About Us</title>

</head>

<style>
    * {
        font-family: 'Poor Story', cursive;
    }
</style>

<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="/">Puppy Zone</a>
            </div>
            <ul>
                <li>
                    <a href="/zone">Puppy Zone</a>
                </li>
                <li>
                    <a href="/snspet">SNS</a>
                </li>
                <li>
                    <a href="/about">About us</a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="confirmLogout();">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <h1 class="title">Puppy Zone 팀을 소개할게요 :)</h1>
    </div>
    <!-- <hr size="1px" color="gray" width="900px"> -->

    <div class="wrapper">
        <ul class="team">
            <li class="team-item">
                <div class="profile profile_default">
                    <img src="../static/1.jpg">
                    <div class="profile-contents">
                        <h2>주형 <span>Front-end</span></h2>
                        <p>나를설명해보아요</p>
                    </div>
                </div>
            </li>
            <li class="team-item">
                <div class="profile profile_default">
                    <img src="../static/2.jpg">
                    <div class="profile-contents">
                        <h2>선미 <span>Front-end</span></h2>
                        <p>나를설명해보아요</p>
                    </div>
                </div>
            </li>
            <li class="team-item">
                <div class="profile profile_default">
                    <img src="../static/3.jpg">
                    <div class="profile-contents">
                        <h2>정욱 <span>Back-end</span></h2>
                        <p>나를설명해보아요</p>
                    </div>
                </div>
            </li>
            <li class="team-item">
                <div class="profile profile_default">
                    <img src="../static/4.jpg">
                    <div class="profile-contents">
                        <h2>용규 <span>Back-end</span></h2>
                        <p>나를설명해보아요</p>
                    </div>
                </div>
            </li>
            <li class="team-item">
                <div class="profile profile_default">
                    <img src="../static/5.jpg">
                    <div class="profile-contents">
                        <h2>민우 <span>명예 팀원</span></h2>
                        <p>사정으로 중간에 나갔지만 마음은 함께입니다.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</body>
</html>