<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Puppy Zone login</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <header>
        <h2>Login</h2>
    </header>
    <form action="" method="POST">
        <div class="input-box">
            <input id="email" type="text" name="email" placeholder="이메일">
            <label for="email">이메일</label>
        </div>
        <div class="input-box">
            <input id="password" type="password" name="password" placeholder="비밀번호">
            <label for="password">비밀번호</label>
        </div>
        <div id="join"><a href='/join'>회원가입 하기</a></div>
        <input type="submit" value="로그인" href="/project">
    </form>

</body>
</html>