<!doctype html>

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/index.css" type="text/css">
    <title>메인로고</title>


</head>

<body>
<div class="navbar">
        <div class="logo">
            <a href="/"><img src="../static/logo.png"></a>
        </div>
        <nav class="navy">
            <ul class="nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/zone">지도검색</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/snspet">SNS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">sign in/sign up</a>
                </li>
            </ul>
        </nav>
    </div>
    
    <div class="container">
        <div class="image-wrap">
        
        </div>
        <div class="text-wrap">
            <h2>애완견과 <br>함께하는 <br>여행</h2>
            <h3>어디든 놀러가고 싶을 때</h3>
            <p>함께할 수 있는 모든 곳에 대한<br> 장소를 추천해주는!</p>
            <div class="btn-wrap">
                <a class="btn" href="/zone">둘러보기</a>
            </div>
        </div>
    </div>

</body>

</html>