<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/snspet.css" type="text/css">
    <link rel="stylesheet" href="../static/header.css" type="text/css">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">

    <title>Puppy Zone SNS</title>
    
</head>

<style>
    * {
        font-family: 'Poor Story', cursive;
    }
</style>

<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="/">Puppy Zone</a>
            </div>
            <ul>
                <li>
                    <a href="/zone">Puppy Zone</a>
                </li>
                <li>
                    <a href="/snspet">SNS</a>
                </li>
                <li>
                    <a href="/about">About us</a>
                </li>
                <li>
                    <a href="/login">Log In</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="sns">
        <h1 class="title-1">요즘 뜨는 반려견 스팟</h1>

        <hr size="1px" color="gray">

        <div class="post-box">
            <p class="lead">
                <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-outline-dark">스팟 자랑하기</button>
            </p>
        </div>

        <div id="post-box" class="form-post" style="display:none">
            <div>
                <div class="form-group">
                    <label for="user">작성자</label>
                    <input id="user" class="form-control" placeholder="">
                </div>

                <div class="form-group">
                    <label for="title">제목</label>
                    <input id="title" class="form-control" placeholder=""> 
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text">사진</span>
                    </div>
                    <div class="custom-file">
                    <input type="file" class="custom-file-input" id="file">
                    <label class="custom-file-label" for="file">사진을 첨부해주세요!!</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="comment">간단 코멘트</label>
                    <textarea id="comment" class="form-control" placeholder="" style="overflow-y:scroll"></textarea>
                </div>

                <button type="button" class="btn btn-primary" onclick="postsns()">글저장</button>
            </div>
        </div>

        <div id="cards-box" class="card-columns">
        </div>
    </div>
</body>

</html>